header {
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 display: flex;
 align-items: center;
 border-bottom: 1px solid black;
 padding-bottom: 10px;
 justify-content: space-between;
 position: fixed;
 width: 98%
}

a {
  color: black;
  border-color: black;
}

.logo {
  color: MediumAquamarine;
  margin-left: 12px;
}

.nav span{
  display: inline-block;
}
